<!DOCTYPE html>
<html>
  <head>
    <h2>Welcome <%= current_user.user_name %> </h2>

    <title>NinetyNineCats</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
